*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

#menu{
	position: fixed;
    top: 0;
    width: 100%;
}

#titulo{
    margin-top: 20%;
}

#nota{
    margin-top: 5%;
}

#minha_data{
    margin-top: 5%;
}

#botao_add{
    position: fixed;
    right: 0;
    bottom: 0;
}

#meu_botao{
    margin-top: 5%;
    float: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


.fechar{
    
    float: right;
    padding-right: 2%;
}

#listar{
  margin-top: 15%;
}

span { 
    display:block;
    word-wrap:break-word;
}
